body {
    background-color: #f0ece2;
    height: 100vh;
}

h1 {
    font-family: Didot;
    border-top: 0px;
}

.inputWrapper { 
    background-color: #c7b198;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 15px;
    filter: drop-shadow(-0px -0px 3px #9f8b75);
}

input {
    border: none;
    width: 75%;
    font-family: Avenir;
    border-radius: 8px;
    padding: 2px;
}

button {
    margin-left: 5px;
    background-color: #596e79;
    color: white;
    border: none;
}

button:active {
    background-color: #374953;   
}

.createNewTask {
    border-radius: 10px;
    width: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deleteButton {
    visibility: hidden;
    border-radius: 5px;
    float: right;
}

li:hover .deleteButton {
    visibility: visible;
}

.bi {
    float: right;
}

.listWrapper {
    background: #dfd3c3;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px;
    filter: drop-shadow(3px 3px 10px #9f8b75);
}

ul {
    margin: 3%;
}

li {
    border: 2px grey; 
    list-style: none;
    font-family: Avenir;
    display: flex;
    align-content: space-between;
    width: 100%;
}

.listItemLine {
    display: flex;
    justify-content: space-between;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer {
    font-family: Helvetica Neue;
}